In [1]:
dat1 = {'rohit': [i for i in range (1,10)], 'saini': [i**3 for i in range (1,10)]}

Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

Ans:- MongoDB is a database that stores the data in unstructured databases i.e. it stores data in dictionary or json formate not in tabluer formate like in sql, hence we are not required to specifie the structure of data. MongoDB is preferred if data is not available in tabular structure.
Q2. State and Explain the features of MongoDB.

Ans:- MongoDB is a popular NoSQL database management system that provides a flexible and scalable approach to storing and managing data. Here are some of its key features:

Document-Oriented: MongoDB stores data as documents in JSON-like format, which makes it easy to store and retrieve complex data structures without having to map them to a relational schema.

High Scalability and Availability: MongoDB is designed to scale horizontally across multiple servers and handle large volumes of data. It also provides high availability through replica sets and sharding.

Flexible Data Model: MongoDB's dynamic schema allows for easy modification and addition of fields to documents, making it ideal for agile development environments.


Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [2]:
import urllib.parse
from pymongo.mongo_client import MongoClient

username = 'rohitsainidtu'
password = 'jai2@Nirakar'

# Escape the username and password according to RFC 3986
escaped_username = urllib.parse.quote_plus(username)
escaped_password = urllib.parse.quote_plus(password)

# Construct the URI string with the escaped username and password
uri = f"mongodb+srv://{escaped_username}:{escaped_password}@cluster0.rmtgsmy.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)
client

MongoClient(host=['ac-z9agzq6-shard-00-00.rmtgsmy.mongodb.net:27017', 'ac-z9agzq6-shard-00-02.rmtgsmy.mongodb.net:27017', 'ac-z9agzq6-shard-00-01.rmtgsmy.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-1tlae9-shard-0', tls=True)

In [3]:
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [4]:
db = client['database']
data = {'rohit':'1', 'saini': '2'}
cl = db['collection']
cl.insert_one(data)

In [5]:
cl.insert_one(dat1)

In [6]:
data_m = [{'first':'yo bro'},{'sec': 'ohh man'}]
cl.insert_many(data_m)

In [7]:
cl.find_one()

{'_id': ObjectId('643bebbef0bc7412e1d0b569'), 'rohit': '1', 'saini': '2'}

In [8]:
for i in cl.find({'first':'yo bro'}):
    print(i)

{'_id': ObjectId('643bebbff0bc7412e1d0b56b'), 'first': 'yo bro'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

Ans:- We can use the find method to search a perticular quary from the database, then python returns the iterater, we can apply a loop to get all values as shown below

In [9]:
for i in cl.find({'first':'yo bro'}):
    print(i)

{'_id': ObjectId('643bebbff0bc7412e1d0b56b'), 'first': 'yo bro'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [10]:
data_age = {'name': 'rohit', 'age': 30}
cl.insert_one(data_age)

data_age = {'name': 'chankey', 'age': 31}
cl.insert_one(data_age)

data_age = {'name': 'dev', 'age': 5}
cl.insert_one(data_age)

In [11]:
result = cl.find().sort('age', -1)
for record in result:
    print(record)

{'_id': ObjectId('643bebbff0bc7412e1d0b56e'), 'name': 'chankey', 'age': 31}
{'_id': ObjectId('643bebbff0bc7412e1d0b56d'), 'name': 'rohit', 'age': 30}
{'_id': ObjectId('643bebbff0bc7412e1d0b56f'), 'name': 'dev', 'age': 5}
{'_id': ObjectId('643bebbef0bc7412e1d0b569'), 'rohit': '1', 'saini': '2'}
{'_id': ObjectId('643bebbff0bc7412e1d0b56a'), 'rohit': [1, 2, 3, 4, 5, 6, 7, 8, 9], 'saini': [1, 8, 27, 64, 125, 216, 343, 512, 729]}
{'_id': ObjectId('643bebbff0bc7412e1d0b56b'), 'first': 'yo bro'}
{'_id': ObjectId('643bebbff0bc7412e1d0b56c'), 'sec': 'ohh man'}




 Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [12]:
cl.delete_one({'rohit':'1'}) # this will delete the first entry where rohit = 1

In [13]:
cl.delete_many({'age':31})   # this will delete all entry with age 31

In [14]:
cl.drop()  # it will delete the entire collection

In [15]:
result = cl.find()
for record in result:
    print(record)