In [1]:
import pandas as pd
import numpy as np

Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some algorithms that are not affected by missing values.

Ans:- when the place where value need to me enter is missing due to some reason or human error then the empty place is known as missing values. we can just remove the missing values if they are very few and data set is very large, we can also replace the missing value by mean, median or mode, we can cluster the data and can give similar group a mean value of that group, we can also replace the missing value as a caterilogical variable.

some algorithms that are not affected by missing values are:-

Decision trees
Random forests
Gradient boosting machines
Support vector machines (SVMs)
k-nearest neighbors (k-NN)
Naive Bayes

Q2: List down techniques used to handle missing data. Give an example of each with python code.

In [2]:
# by removing missing values


# Create a sample dataframe
df = pd.DataFrame({'A': [1, 2, np.nan, 4], 'B': [5, np.nan, 7, 8], 'C': [9, 10, 11, 12]})
df

     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  7.0  11
3  4.0  8.0  12

In [3]:

# Drop any rows with missing values
df.dropna(inplace=True)
df

     A    B   C
0  1.0  5.0   9
3  4.0  8.0  12

In [4]:
#  replacing missing values by mean of a perticular column

In [5]:
df['A'].fillna(df['A'].mean(), inplace=True)
df

     A    B   C
0  1.0  5.0   9
3  4.0  8.0  12

In [6]:
df['B'].fillna(df['B'].median(), inplace=True)
df

     A    B   C
0  1.0  5.0   9
3  4.0  8.0  12

Q3: Explain the imbalanced data. What will happen if imbalanced data is not handled?

Ans:- When data is highly imbalance then our model gives output to majority class , it will looks like model accuracy is high but in reality it will not able to recognise the minority class, we can see the disatisfactory result by seeing confusion matrix, precision and recall.

Q4: What are Up-sampling and Down-sampling? Explain with an example when up-sampling and down- sampling are required.

Ans:- when the data is highly imbalance we are required to balance the data either by upsampling or downsampeling, in upsampling we increase the minority class rows by creating synthetic data points, it is generally done when data set is less.

When data set is very large then we can do downsampling where we delete the extra rows of majority class randomly and get the balance dataset.

Q5: What is data Augmentation? Explain SMOTE.

Ans:- Data Augmentation is a process of increasing dataset to make it balance by using SMOTE, in SMOTE minority class data points are used and the space between them is filled by synthetic data points.

Q6: What are outliers in a dataset? Why is it essential to handle outliers?

Ans:- in a given data set when few values are extreemly large or small such that it does't represent the data set called outliers, outliers can be find out by creating fences = median +- IQR*1.5, value outside this fences are outliers.

Outliers need to be removed because it does not bolong to the general data set hence creats problem for making generalise model, these outliers if not removed then model will consider this as a datapoint and adjust its weights to minimise error as a result fails to give good precision with general test set.

Q7: You are working on a project that requires analyzing customer data. However, you notice that some of the data is missing. What are some techniques you can use to handle the missing data in your analysis?

Ans:- Remove missing values: we can remove missing values rows if missing values is small

filling with mean, median or mode

doing clustering, and then giving mean value of the specific cluester

Assigning a new column having information whether the value is missing or not

some algo works well even if the value is missing

Q8: You are working with a large dataset and find that a small percentage of the data is missing. What are some strategies you can use to determine if the missing data is missing at random or if there is a pattern to the missing data?

Ans:- If we found that there is a patter and a specific reason of missing value then we will Assigning a new column having information whether the value is missing or not, on the other hand if we found the the missing values are random then we will do the following things:- 

Remove missing values: we can remove missing values rows if missing values is small

filling with mean, median or mode

doing clustering, and then giving mean value of the specific cluester

some algo works well even if the value is missing

Q9: Suppose you are working on a medical diagnosis project and find that the majority of patients in the dataset do not have the condition of interest, while a small percentage do. What are some strategies you can use to evaluate the performance of your machine learning model on this imbalanced dataset?

Ans:- We will do upsampleing or data augmentation  if data is small, downsampleing if data is very large  to balance the data set

Q10: When attempting to estimate customer satisfaction for a project, you discover that the dataset is unbalanced, with the bulk of customers reporting being satisfied. What methods can you employ to balance the dataset and down-sample the majority class?

Ans:- We will do downsampleing the majority class if data is very large to balance the data set. We will remove rows from majority class randomly to balance dataset.

Q11: You discover that the dataset is unbalanced with a low percentage of occurrences while working on a project that requires you to estimate the occurrence of a rare event. What methods can you employ to balance the dataset and up-sample the minority class?

Ans:- We will do upsampling if the data set is small. SMOTE (Synthetic Minority Over-sampling Technique) is a good technique to generate synthetic data set of minority class.