Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.

Ans:- in Ordianl Encoding we have the categorical features whose values have a ranking system i.e. grade of maths A,B,C,D hence it can we given numerical values 1,2,3,4 for A,B,C,D respectively.

In Label Encoding categorical features does not have a ranking system i.e. flower name, rose, lili, jasmin, and we give them lable as 1,2,3 respectively to converting it in numerical values.

when the ranking system is available we will use ordinal encoding, when data set is very high and we cannot go for one hot encoding then we will sellect label encoding.


Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.

Ans:- in Ordianl Encoding we have the categorical features whose values have a ranking system i.e. grade of maths A,B,C,D hence it can we given numerical values 1,2,3,4 for A,B,C,D respectively.
As a result the model will compare from high to low value of the feature and can predict the result accordingly

Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

Ans:- To remove the unnecessary feature and the find the correlated variables so that it can be removed we use covariance. Covariance tells how the two feature relates to each other, if corelation value is very high then the variables are interdependent, if -ve covariance is found then the features are inversely related, very low covariance shows that the features are interrelated. 

Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium, large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library. Show your code and explain the output.

Ans for Color (red, green, blue) and Material (wood, metal, plastic) we use one hot encoding and for Size (small, medium, large) : Ordinal Encoding,

In [1]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
import pandas as pd


data = {'Color': ['red', 'green', 'blue', 'red', 'blue'], 
        'Size': ['small', 'medium', 'large', 'medium', 'small'], 
        'Material': ['wood', 'metal', 'plastic', 'wood', 'plastic']}
df = pd.DataFrame(data)


ordinal = OrdinalEncoder()
onehot = OneHotEncoder()


df['Size'] = ordinal.fit_transform(df[['Size']])


onehot_encoded = onehot.fit_transform(df[['Color', 'Material']]).toarray()
onehot_df = pd.DataFrame(onehot_encoded, columns=onehot.get_feature_names_out(['Color', 'Material']))

# concatenate original and encoded DataFrames
df_encoded = pd.concat([df.drop(['Color', 'Material'], axis=1), onehot_df], axis=1)

print(df_encoded)

   Size  Color_blue  Color_green  Color_red  Material_metal  Material_plastic  \
0   2.0         0.0          0.0        1.0             0.0               0.0
1   1.0         0.0          1.0        0.0             1.0               0.0
2   0.0         1.0          0.0        0.0             0.0               1.0
3   1.0         0.0          0.0        1.0             0.0               0.0
4   2.0         1.0          0.0        0.0             0.0               1.0

   Material_wood
0            1.0
1            0.0
2            0.0
3            1.0
4            0.0


Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.

In [2]:
df = pd.DataFrame({'Age':[3,4,1,6,2,8,9], 'Income': [10,20,30,40,50,30,50],'Education':[10,12,14,16,18,10,30]})
df.corr()

                Age    Income  Education
Age        1.000000  0.314175   0.436115
Income     0.314175  1.000000   0.776426
Education  0.436115  0.776426   1.000000

Income and education is highly corelated shows that as educatio increase income increases.
the age and education is also corelated which shows that people with high education have high percentage and more time in job,
Age with income also shows positive corelation , shows that as experience increase income increase.


Q6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?

Ans:- 
one hot encoding : "Gender" (Male/Female) because no gender is superior to other, we have no rank feature

Ordianl Encoding : Education Level" (High School/Bachelor's/Master's/PhD), we can give rank to the values hence we use oridial encoding.

Ordinal Encoding : "Employment Status" (Unemployed/Part-Time/Full-Time) as unemployed can be ranked low, part time as middle and full time as first so we use ordinal encoding.

Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/ East/West). Calculate the covariance between each pair of variables and interpret the results.

In [3]:
data = {
    'Temperature': [25, 27, 26, 23, 24, 22, 20, 21, 19, 18],
    'Humidity': [65, 70, 75, 80, 85, 90, 95, 100, 98, 97],
    'Weather Condition': ['Sunny', 'Cloudy', 'Rainy', 'Sunny', 'Cloudy', 'Rainy', 'Sunny', 'Cloudy', 'Rainy', 'Sunny'],
    'Wind Direction': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South']
}

df = pd.DataFrame(data)
df

   Temperature  Humidity Weather Condition Wind Direction
0           25        65             Sunny          North
1           27        70            Cloudy          South
2           26        75             Rainy           East
3           23        80             Sunny           West
4           24        85            Cloudy          North
5           22        90             Rainy          South
6           20        95             Sunny           East
7           21       100            Cloudy           West
8           19        98             Rainy          North
9           18        97             Sunny          South

In [4]:
df = pd.concat([df, pd.get_dummies(df[['Weather Condition', 'Wind Direction']])], axis=1)
df=df.drop(['Weather Condition', 'Wind Direction'],axis=1)
df

,Temperature,Humidity,Weather Condition_Cloudy,Weather Condition_Rainy,Weather Condition_Sunny,Wind Direction_East,Wind Direction_North,Wind Direction_South,Wind Direction_West
0,25,65,0,0,1,0,1,0,0
1,27,70,1,0,0,0,0,1,0
2,26,75,0,1,0,1,0,0,0
3,23,80,0,0,1,0,0,0,1
4,24,85,1,0,0,0,1,0,0
5,22,90,0,1,0,0,0,1,0
6,20,95,0,0,1,1,0,0,0
7,21,100,1,0,0,0,0,0,1
8,19,98,0,1,0,0,1,0,0
9,18,97,0,0,1,0,0,1,0

In [5]:
df.corr()

,Temperature,Humidity,Weather Condition_Cloudy,Weather Condition_Rainy,Weather Condition_Sunny,Wind Direction_East,Wind Direction_North,Wind Direction_South,Wind Direction_West
Temperature,1.000000,-0.892635,0.341882,-0.037987,-0.284268,0.087039,0.037987,-0.037987,-0.087039
Humidity,-0.892635,1.000000,-0.027561,0.119431,-0.085937,-0.021050,-0.156179,0.009187,0.189451
Weather Condition_Cloudy,0.341882,-0.027561,1.000000,-0.428571,-0.534522,-0.327327,0.047619,0.047619,0.218218
Weather Condition_Rainy,-0.037987,0.119431,-0.428571,1.000000,-0.534522,0.218218,0.047619,0.047619,-0.327327
Weather Condition_Sunny,-0.284268,-0.085937,-0.534522,-0.534522,1.000000,0.102062,-0.089087,-0.089087,0.102062
Wind Direction_East,0.087039,-0.021050,-0.327327,0.218218,0.102062,1.000000,-0.327327,-0.327327,-0.250000
Wind Direction_North,0.037987,-0.156179,0.047619,0.047619,-0.089087,-0.327327,1.000000,-0.428571,-0.327327
Wind Direction_South,-0.037987,0.009187,0.047619,0.047619,-0.089087,-0.327327,-0.428571,1.000000,-0.327327
Wind Direction_West,-0.087039,0.189451,0.218218,-0.327327,0.102062,-0.250000,-0.327327,-0.327327,1.000000

here we can see that humidity and tempure are inversely corelated.

Cloudy weather and temp are positively corelated